html{
    position:relative;
    min-height:100%;
    
}
body{
    padding:0;
    background:url('./register.jpg') no-repeat;
    background-size: cover;
}
.form-container{
    
    padding:30px;
    margin: 60px 0 0 0;
    background: rgba(0,0,0,0.7);
    color:#ffffff;
    border-radius: 10px;
}
.form-container h2{
    text-align:center;
}

.button{
    font-size: 12px;
}